$primary : #1da1f2;
@import "~bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";

@import "~toastr";


.impressions{
    button{
        transition: transform 0.3s;
        cursor: pointer;
    }
    button:hover{
        transform:translateY(-2px);
    }
}